
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e94242;
  color: white;
  padding: 1rem 2rem;
}

nav #logo {
  display: flex;
  align-items: center;
  gap: 1rem;
}

nav img {
  width: 150px;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 1rem;
}

nav li {
  margin: 0;
}

.nav-button {
  background: black;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.nav-button:hover {
  background: #ffe600;
}
span
{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 30px;
}

main {
  padding: 2rem;
}

.content-section {
  display: none;
}

.content-section.active {
  display: block;
}

footer {
  background-color: #e94242;
  color: white;
  text-align: center;
  padding: 1rem 0;
  position: fixed;
  bottom: 0;
  width: 100%;
}

